<h1>{{ despensa.nome }}</h1>
<p>Quantidade Total: {{ despensa.quantTotal }}</p>
<p>Dono(s): </p>

{% for d in donos %}
    <p>{{d.first_name}}</p>
{% endfor %}

{% if not itens %}
    <div></div>
{% else %}
    <ul>
        {% for item in itens %}
        <li>
            <strong>ID:</strong> {{ item.id }}<br>
            <strong>Nome:</strong> {{ item.nome }}<br>
            <strong>Categoria:</strong> {{ item.categoria }}<br>
            <strong>Marca:</strong> {{ item.marca }}<br>
            <strong>Peso:</strong> {{ item.peso }}<br>
            <strong>Data de Validade:</strong> {{ item.data_validade }}<br>

            <!-- Link para atualizar o item -->
            <a href="{% url 'items:editar' item.id %}">Editar</a>

            <!-- Link para excluir o item -->
            <a href="{% url 'items:delete' item.id %}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'despensas:despensa_update' despensa.pk %}">Editar</a>
<a href="{% url 'despensas:despensa_delete' despensa.pk %}">Deletar</a>
<a href="{% url 'despensas:despensa_list' %}">Voltar para a lista</a><br>
<a href="{% url 'categories:home' %}">Cadastrar Categoria</a>
<a href="{% url 'items:home' %}">Cadastrar itens</a>
