<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pesquisar Categorias</title>
    <style>
    </style>
</head>
<body>
    <ul>
        {%if not categorias%}
            <h1>Sem categorias!</h1>
        {% endif %}   
        {% for c in categorias %}
            <li>{{c.id}} -- {{c.nome}} <a href="{%url 'categories:editar' c.id %}">Editar</a> <a href="{%url 'categories:delete' c.id%}">Deletar</a></li>
        {% endfor %}
    </ul>

</body>
</html> 