<h1>{{ despensa.nome }}</h1>
<p>Quantidade Total: {{ despensa.quantTotal }}</p>
<p>Capacidade: {{ despensa.capacidade }}</p>
<p>Dono(s): </p>

{% for d in donos %}
    <p>{{d.first_name}}</p>
{% endfor %}
<a href="{% url 'despensas:despensa_update' despensa.pk %}">Editar</a>
<a href="{% url 'despensas:despensa_delete' despensa.pk %}">Deletar</a>
<a href="{% url 'despensas:despensa_list' %}">Voltar para a lista</a><br>
<a href="{% url 'categories:home' %}">Cadastrar Categoria</a>
<a href="{% url 'items:home' %}">Cadastrar itens</a>
