<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Despensa</title>
    <style>
        input {
            display: block;
        }
        .form-group {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Formulário de Despensa</h1>
    <form action="{% url 'despensas:despensa_create' %}" method="post">
        {% csrf_token %}
        {{despensas_form}}
        <button type="submit">Salvar</button>
    </form>
    <a href="{% url 'despensas:despensa_list' %}">Cancelar</a>
</body>
</html>
