<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SigDespensa</title>
    <style>
        input{
            display: block;
        }

    </style>
</head>
<body>
    <h1>SigDespensa</h1>
    <div class="'container">
        <div class = "form-image">
            {% load static %}
            <img src="{% static 'img/undraw_online_groceries_a02y.svg' %}" alt="">
        </div>
        <form action="{%url 'users:salvar' %}" method="POST">
            {% csrf_token %}
            {{usuario_form}}
            <button type="submit">Enviar</button>
            {% if not errors %}
                <div></div>
            {% else %}
                <div>{{errors}}</div>
            {%endif%}
        </form>
    </div>
</body>
</html>