<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{usuario.nome}}</title>
    <style>
        input{
            display: block;
        }
    </style>
</head>
<body>

    {{usuario.id}} -- {{usuario.nome}}

    <form action="{%url 'users:update' usuario.id%}" method="POST">
        {% csrf_token %}
        {{usuario_form}}
        <button type="submit">Editar</button>

        {%if not errors%}
            <div></div>
        {%else%}
            <div>{{errors}}</div>
        {% endif %}
    </form>
</body>
</html>