<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{usuario.nome}}</title>
    <style>
        input{
            display: block;
        }
    </style>
</head>
<body>

    {{usuario.id}} -- {{usuario.nome}}

    <form action="{%url 'users:update' usuario.id%}" method="POST">
        {% csrf_token %}
        <label for="nome">Nome: </label>
        <input type="text" name="nome" value="{{usuario.nome}}">
        <label for="email">Email: </label>
        <input type="text" name="email" value="{{usuario.email}}">
        <label for="cpf">CPF: </label>
        <input type="text" name="cpf" value="{{usuario.cpf}}">
        <label for="telefone">Telefone: </label>
        <input type="text" name="telefone" value="{{usuario.telefone}}">
        <button type="submit">Editar</button>
    </form>
</body>
</html>