<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <style>
    </style>
</head>
<body>
    <form action="{% url 'users:search' %}" method="POST" >
        {% csrf_token %}
        <input type="text" name="search">
        <button type="submit"> pesquisar</button>
    </form>
    <ul>
        {%if not usuarios%}
            <h1>Sem usuários!</h1>
        {% endif %}   
        {% for u in usuarios %}
            <li>{{u.id}} -- {{u.nome}} <a href="{%url 'users:editar' u.id %}">Editar</a> <a href="{%url 'users:delete' u.id%}">Deletar</a></li>
        {% endfor %}
    </ul>
</body>
</html> 